:root {
  --aj-theme-color: #ffcf4e;
  --aj-primary-color: #073d30;
  --aj-primary-color-2: #055c4d;
  --aj-secondary-color: #fe4e15;
  --aj-pink-color: #ff73ae;
  --aj-white-color: #fff;
  --aj-black-color: #000;
  --aj-heading-color: #121018;
}
