@use '../../utils/' as *;

/*----------------------------------------*/
/*   Services */
/*----------------------------------------*/
.aj-services {
  &-area {
    background-color: #f2f0ec;
  }
  &-items {
    padding: 50px 15px;
    background-color: #fff;
    border-radius: 16px 16px 0 0;
    text-align: center;
    border-bottom: 4px solid var(--aj-theme-color);
    &:nth-child(2) {
      border-bottom: 4px solid var(--aj-primary-color);
    }
    & a {
      font-family: var(--aj-font-body);
      font-size: 15px;
      color: #56605d;
    }
  }
  &-title {
    padding: 40px 0;
  }
}
